@import "../../../styles/variables";

.search__button {
    width: 200px;
    height: 80px;
    padding: 0 $mediumSpace;
    font-size: $semiLargeFontSize;
    color: $white;
    text-transform: uppercase;
    background: $darkBlue;
    transition: .3s ease-in-out;
    border-radius: 0 80px 0 0;
    border: none;
    cursor: pointer;
}

.search__button:hover {
    border-radius: 0 40px 0 0;
}
