// colors

$mainBackground: #e7efec;
$white: #ffffff;
$darkGrey: #b8b9b9;
$lightBlue: #73d2f0;
$darkBlue: #1eb7ee;
$footerBackground:#595959;
$green: #63c745;
$red: tomato;

//sizes

$socialIconWidth: 30px;
$socialIconHeight: 30px;
$companyLogoWidth: 64px;
$companyLogoHeight: 38px;

//fontSizes
$smallFontSize: 13px;
$baseFontSize: 16px;
$mediumFontSize: 20px;
$semiLargeFontSize: 24px;
$largeFontSize: 72px;

//spaces
$baseSpace: 10px;
$smallSpace: $baseSpace / 2;
$mediumSpace: $baseSpace * 2;
$semiLargeSpace: $baseSpace * 2.5;
$largeSpace: $baseSpace * 5;
$extraLargeSpace: $baseSpace * 15;


