@import "../../../styles/variables";

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    font-size: 50px;
    color: $red;
}

.error__message {
    font-size: 25px;
}
