@import "../../styles/variables";

.navigation {
    flex-grow: 1;
    max-width: 70%;
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
