@import "../../styles/variables";

.wrapper {
    padding: 25px 0;
}

.flight-details__nav-link {
    text-decoration: none;
    color: $darkBlue;
    padding: 0 20px 0 35px;
    border-radius: 50px 0 0 0;
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    background: $white;
    transition: .3s ease-in-out;
}

.flight-details__nav-link:hover {
    background: $darkBlue;
    color: $white;
}
