@import "../../styles/variables";

.footer {
    background: $footerBackground;
    padding: $largeSpace 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list-item {
    margin-bottom: $baseSpace;
    color: $white;
}

.footer__list-item:first-child {
    font-weight: bold;
    letter-spacing: 1.2px;
}

.footer__link {
    text-decoration: none;
    color: $white;
    font-size: $baseFontSize;
    border-bottom: 1px solid transparent;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.footer__link:hover {
    border-bottom: 1px solid $white;
}

.footer__contacts-row {
    color: $white;
    margin-bottom: $mediumSpace;

    .title {
        font-size: $baseFontSize;
        font-weight: 700;
        line-height: 1;
        margin-bottom: $baseSpace;
    }

    .phone {
        color: $white;
        text-decoration: none;
        font-size: $semiLargeFontSize;
        font-weight: 600;
    }
}

.footer__top {
    padding-bottom: $largeSpace;
    border-bottom: 1px solid $darkGrey;
}

.footer__bottom {
    display: flex;
    padding-top: $semiLargeSpace;

    p {
        margin: 0;
        font-size: $smallFontSize;
        line-height: 18px;
        color: $darkGrey;
    }

    a {
        color: $darkGrey;
        text-decoration: none;
    }

    .column {
        flex-basis: 300px;
    }

    .column:last-child {
        flex-grow: 1;
        text-align: right;
    }

    span {
        font-size: $smallFontSize;
        line-height: 18px;
    }
}
