@import "../../styles/variables";

.search {
    max-width: 66%;
    padding: $largeSpace $smallSpace 0 $smallSpace;
    margin: 0 auto;
}

.search__title {
    font-size: $largeFontSize;
    margin: 0;
    font-weight: 300;
}

.search__input-wrapper {
    flex-grow: 1;
}

.search__form {
    display: flex;
    padding: $mediumSpace 0;
}

.search__input {
    font-size: $semiLargeFontSize;
    width: 100%;
    height: 80px;
    border: none;
    padding: 0 $baseSpace 0 $largeSpace;
}

.mouse-used .search__input:focus-visible {
    outline: none;
}
