@import "../../styles/variables";

.filter {
    background: $white;
    border-radius: 60px 60px 0 0;
    min-height: 150px;
}

.filter__row {
    height: 60px;
    margin-bottom: 20px;
}

.filter__row:last-child {
    padding: 0 25px;
}
.filter__flights-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__flights-list-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    font-size: $semiLargeFontSize;
    color: $lightBlue;
    text-transform: uppercase;
    padding: $mediumSpace $extraLargeSpace;
    background: $white;
    border-radius: 60px 60px 0 0;
    cursor: pointer;
}

.filter__flights-list-item:first-child {
    text-align: right;
}

.filter__flights-list-item:last-child {
    left: 50%;
}

.filter__flights-list-item--active {
    background: $lightBlue;
    color: $white;
    z-index: 1;
}

.filter__date-row {
    display: flex;
    align-items: flex-end;
}

.calendar {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: $mediumSpace;

    img {
        position: absolute;
        top: 2px;
        left: 2px;
        pointer-events: none;
    }

    .calendar__date {
        color: $darkBlue;
        font-size: $smallFontSize;
        font-weight: bold;
        position: absolute;
        top: -15px;
        left: $smallSpace;
    }
}

.react-datepicker__input-container {
    width: inherit;
    height: 40px;
    background: $darkBlue;

    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}

.filter__date-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.filter__date-list-item {
    padding: $baseSpace $mediumSpace;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkGrey;
    position: relative;
    cursor: pointer;

    .date {
        font-size: $smallFontSize;
    }

    .text {
        font-size: $baseFontSize;
        text-transform: uppercase;
    }
}

.filter__date-list-item:after {
    content: '';
    width: 100%;
    height: 3px;
    background: $darkGrey;
    position: absolute;
    bottom: 0;
}

.filter__date-list-item--active:after {
    background: $darkBlue;
}

.filter__date-list-item--active {
    .date {
        color: $darkBlue;
    }

    .text {
        color: $darkBlue;
    }
}
